@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: 'Raleway', sans-serif;

}

body {
  background-color: rgb(241, 241, 241);

}

.App {
  text-align: center;
}