.principalProf {
    padding: 12px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2;
    grid-auto-columns: minmax(0, 1fr);
}

.principalAluno {
    padding: 0px;
}

.container {
    padding: 12px;
}

.list {
    border-radius: 10px;
    margin: auto;
    overflow: auto;
    background-color: white;
    box-shadow: 5px 5px 10px lightgray;
}

.boxList {
    border-radius: 4px;
    padding: 24px;
    max-height: 70vh;
    min-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 3px 50px;
}

.tituloBox {
    padding: 24px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.boxTurma {
    border-radius: 4px;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2;
    grid-auto-columns: minmax(0, 1fr);
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: left;
    margin-bottom: 24px;
}


.infosBoxRedacaoProf {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: small;
    text-align: start;
}

.boxRedacaoProf {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    align-items: center;
}

.boxRedacaoAluno {
    display: flex;
    gap: 50px;
    padding: 15px;
    justify-content: space-between;
    border-radius: 4px;
    margin: auto;
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.infosBoxRedacaoAluno {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.boxCadastro {
    min-height: 50vh;
    height: auto;
    background-color: white;
}

.codigoTurma {
    margin: 10px 0px;
}

.codigoTurma span {
    background-color: rgb(235, 235, 235);
    padding: 3px;
    font-size: 15px;
}

.boxCorrecao {
    border-radius: 4px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1000px) {
    .principalProf {
        padding: 12px;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 2;
        grid-auto-columns: minmax(0, 1fr);
    }
}