.principalProf {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 2;
    grid-auto-rows: minmax(0, 2fr);
}

.boxesProf {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2;
    grid-auto-columns: minmax(0, 1fr);
}

.container {
    padding: 12px;
}

.list {
    border-radius: 10px;
    margin: auto;
    overflow: auto;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 100%;
}

.boxList {
    border-radius: 4px;
    padding: 24px;
    max-height: 70vh;
    min-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 3px 50px;
}

.tituloBox {
    padding: 24px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.boxTurma {
    border-radius: 4px;
    position: relative;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 2;
    grid-auto-rows: minmax(0, 1fr);
    padding: 24px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    text-align: left;
    margin-bottom: 24px;
    height: 100%;
}


.infosBoxRedacaoProf {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: small;
    text-align: start;
}

.boxRedacaoProf {
    display: grid;
    grid-auto-flow: row;
    padding: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    align-items: center;

}

.boxRedacaoAluno {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    align-items: center;
}

.infosBoxRedacaoAluno {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.boxCadastro {
    min-height: 50vh;
    height: auto;
    background-color: white;
}

.codigoTurma {
    margin: 10px 0px;
}

.codigoTurma span {
    background-color: rgb(235, 235, 235);
    padding: 3px;
    font-size: 15px;
}

.boxCorrecao {
    border-radius: 4px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 800px) {
    .principalProf {
        padding: 12px;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 2;
        grid-auto-columns: minmax(0, 1fr);
    }

    .boxesProf {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 2;
        grid-auto-columns: minmax(0, 1fr);
    }

    .container {
        min-width: 100% !important;
    }
}