@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lexend", sans-serif;
}

html {
  height: 100%
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiButton-root{
  font-family: "Lexend", sans-serif !important;
  font-weight: 400 !important;

}

.css-bdhsul-MuiTypography-root-MuiDialogTitle-root{
  padding: 0px !important;
}

.MuiDialog-container .MuiPaper-root{
  border-radius: 10px;
}
.MuiBackdrop-root{
  backdrop-filter: blur(5px);
}