* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

html {
  height: 100%
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right, #F4EBEC, #ecebf4);
}

.MuiButton-root{
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

.css-bdhsul-MuiTypography-root-MuiDialogTitle-root{
  padding: 0px !important;
}

.MuiDialog-container .MuiPaper-root{
  border-radius: 10px;
}
.MuiBackdrop-root{
  backdrop-filter: blur(5px);
}